.row-fluid .no-gutter {
	margin-left: 0px;
}

footer {
	text-align: center;
	margin: 30px 0;
}

#editor {
	width: 100%; 
	height: 500px; 
	float: left; 
	clear: left; 
	position: relative;
	font-family: "source-code-pro";
	font-size: 14px;
	border: 1px solid #DDD;
    border-radius: 4px;
    border-bottom-right-radius: 0px;
}

.preview-pane {
	border: 3px solid #ccc;
}

.controls {
	float: left;
	clear: left;
	width: 50%;
	padding-top: 10px;
}

#template {
	width: 250px;
}

.tweet-buttons { 
	float: left;
	margin-right: 40px;
	padding-top: 8px;
}

.source {
	font-family: "source-code-pro", Courier;
	font-size: 14px;
}

.controls .alert {
	float: left;
}